<a href="https://colab.research.google.com/github/Zechini/class-notes/blob/main/DataStructuresPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON DATA STRUCTURES**

## **PYTHON LISTS**

*   Ordered sequences.
*   Comma sepparated between square brackets.
*   Muttable

In [ ]:
L = [1, True, 2, "Daniela", 9.8]
L.extend(['ext1', False]) #the method extend adds one or more elements to the list.
print(L)
L.append("last one") #the method append adds only one element.
print(L)
del(L[5:7])
print(L)

In [ ]:
#Aliasing
A = ["tomatoes", 0.23, "apple"]
B = A
B[0] = "eggs"
print(A)

In [ ]:
#cloning
A = ["tomatoes", 0.23, "apple"]
B = A[:]
B[0] = "eggs"
print("A ==", A)
print("B ==", B)

### **PYTHON TUPLES**

*   Ordered sequences.
*   Comma sepparated between parenthesis.
*   Any type elements.
*   Immutable.

In [ ]:
tuple01 = ("Ã‚ngelo", 10.46, True)
tuple01[0]

In [ ]:
type(tuple01)

In [ ]:
tuple02 = tuple01 + (False, 23)
print(tuple02)

In [ ]:
ratings = (2,10,4,6,5,7,9,1,8)
ratings02 = sorted(ratings)
print(ratings)
print(ratings02)
print(type(ratings))
print(type(ratings02))

### **PYTHON SETS**

*   Unordered sequences.
*   Comma sepparated itens between curly brackets.
*   Only one type elements.
*   Eliminate duplications.
*   Type-casting (lists to sets).

In [44]:
set = {"Elton John", "Eric Clapton", "The Beatles", "Chuck Berry", "Elton John", "The Beatles"}
print(set)
set.add("Dire Straits")
print(set)
set.remove("Elton John")
print(set)

{'Chuck Berry', 'The Beatles', 'Elton John', 'Eric Clapton'}
{'Chuck Berry', 'Elton John', 'The Beatles', 'Dire Straits', 'Eric Clapton'}
{'Chuck Berry', 'The Beatles', 'Dire Straits', 'Eric Clapton'}

In [ ]:
setone = {"AA","BB","CC","DD","intersection"}
settwo = {"A1","A2","A3","A4","intersection"}
print("AA" in setone) #search in a set
print("AA" in settwo)
print(setone & settwo) #intersection of sets
print(setone.issubset(settwo))

**PYTHON DICTIONARIES**

*   Colection of keys and values in pairs.
*   Key and value sepparated by colon.
*   Pairs sepparated by comma.
*   Keys are unique and immutable.

In [53]:
dic = {"A":0.1,"B":0.2,"C":0.3}
print(dic["A"]) #find the value of "A"
dic["D"]=0.4 #Add iten.
print(dic)
del(dic["B"]) #Del iten.
print(dic)
print(dic.keys())
print(dic.values())

0.1
{'A': 0.1, 'B': 0.2, 'C': 0.3, 'D': 0.4}
{'A': 0.1, 'C': 0.3, 'D': 0.4}
dict_keys(['A', 'C', 'D'])
dict_values([0.1, 0.3, 0.4])